/* Configuración básica */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #fff7f9; /* Fondo suave para una apariencia elegante */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #333;
}

h1 {
  color: #f87885; /* Color rosa pastel para el título */
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}

/* Contenedor del formulario */
.form-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2em 0;
  padding: 2em 0;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

#form-title,
#form {
  padding: 0 2em;
}

/* Botones de alternancia */
.toggle-buttons {
  display: flex;
  margin-bottom: 1.5em;
}

.toggle-buttons a {
  background-color: white; /* Botones en color rosa pastel */
  border: none;
  color: #9e9e9e;
  font-size: 1em;
  font-weight: bolder;
  width: 50%;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-buttons a:hover {
  background-color: #fdefef;
  color: #e0656f;
  border-color: #e0656f;
  border-style: none none solid none;
}

.toggle-buttons a:focus {
  background-color: white;
  color: #808080;
  border-color: #e0656f;
  border-style: none none solid none;
}

/* Campos del formulario */
.form-group {
  margin-bottom: 1.2em;
  text-align: left;
}

.form-group label {
  font-size: 0.9em;
  color: #333;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.7em;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 0.5em;
}

input::placeholder {
  color: #bbb;
}

input:focus,
select:focus {
  outline: none;
  border-color: #f87885;
  box-shadow: 0 0 5px rgba(248, 120, 133, 0.5);
}

/* Botón de enviar */
.data-group button {
  width: 100%;
  padding: 0.7em;
  font-size: 1em;
  background-color: #f87885;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1em;
}

.data-group button:hover {
  background-color: #e0656f;
}

/* Estilos de mensaje de error */
input:invalid {
  border-color: #d9534f; /* Rojo para campos inválidos */
}

input:invalid:focus {
  border-color: #d9534f;
  box-shadow: 0 0 5px rgba(217, 83, 79, 0.5);
}
