img {
  max-width: 100%;
  height: auto;
}

header {
  text-align: center;
  padding: 40px;
}

header h1 {
  font-size: 40px;
  margin: 0;
  color: white;
}

header p {
  font-size: 18px;
  color: white;
}

nav {
  padding: 15px;
  text-align: center;
}

nav a {
  margin-left: 20px;
  font-size: x-large;
  font-weight: bold;
}

nav a:hover {
  text-decoration: none;
  color: white;
}

nav img {
  width: 64px;
  height: 64px;
  left: 10;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  font-size: 18px;
  color: white;
}

nav ul li a:hover {
  text-decoration: none;
  background-color: #ea454b;
  color: white;
}

.d-menu {
  max-width: 170px;
  right: 10px;
}

.user svg {
  fill: white;
  position: relative;
  top: 13px;
}

.repo {
  position: absolute;
  left: 5%;
}

.brand-logo {
  left: 0px;
}

footer {
  background-color: #ee6e73;
  color: white;
  text-align: center;
  padding: 15px;
}

footer p {
  margin-top: 5px;
  padding: 15px 0 0;
  font-weight: bold;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
}

.footer-content {
  padding-bottom: 10px;
}

.footer-content .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: white;
}
.copyright-text {
  margin: 0;
}

.copyright-text a {
  color: #ca4b4f;
}

.copyright-text a:hover {
  color: #ddd;
  text-decoration: none;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: white;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer-content svg:hover {
  fill: white;
}

.facebook svg {
  fill: #3b5998;
}

.twitter svg {
  fill: #00aced;
  margin: 6px;
}

.instagram svg {
  fill: #ea4c89;
  margin: 3px;
}

.linkedin svg {
  fill: #007bb6;
  margin: 5px;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.instagram:hover {
  background-color: #ea4c89;
}
